//
// Reset Styles
// Adapted from Twitter Bootstrap
// ------------------------------

@import "variables.less";
@import "bootstrap/less/mixins.less";
@import "bootstrap/less/reset.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/button-groups.less";
@import "bootstrap/less/breadcrumbs.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/labels-badges.less";
@import "font-awesome.less";


// Top bar
// ------------------------------------
// runs across the top of the screen

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: @topbarHeight;
  overflow: hidden;

  #gradient > .vertical(lighten(@topbarColor, 10%), @topbarColor);
  border-bottom: 1px solid darken(@topbarColor, 15%);

  .brand {
    display: block;
    float: left;
    margin-top: (@topbarHeight - @topbarLogoHeight) / 2;
    margin-left: @topbarGutter;

    img {
      height: @topbarHeight - 15px;
    }
  }

  .user {
    display: block;
    float: right;
    margin-top: (@topbarHeight - 24px) / 2;
    margin-right: @topbarGutter;

    .icon-caret-down {
      //display: inline-block;
      margin-left: 3px;
      //vertical-align: middle;
      color: #F1F1F1;
    }

    &:hover {
      text-decoration: none;
    }
  }
}


// Left (nav) bar
// ------------------------------------
// runs down the left of the screen

.leftbar {
  position: fixed;
  top: @topbarHeight;
  bottom: 0;
  left: 0;
  width: @leftbarWidth - 1; // -1 to allow for border
  overflow: hidden;

  background-color: darken(@grayLighter, 3%);
  border-right: 1px solid @borderColor;

  .main-menu, .bottom-menu {
    overflow: hidden;
  }
    
  li {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  a {
    padding: 5px;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    color: @grayLight;
  }

  .active [class^="icon-"],
  .active [class*=" icon-"],
  a:hover [class^="icon-"],
  a:hover [class*=" icon-"] {
    color: @gray;
  }

  .active a,
  .active a {
    border: 1px solid rgba(0,0,0,.1);
    .border-radius(@borderRadiusLarge);
    .box-shadow(inset 1px 1px 1px rgba(0,0,0,.2));
  }

  a:hover {
    text-decoration: none;
  }

  .main-menu {
    margin-top: 20px;

    li {
      margin-bottom: 20px;
    }
  }

  .bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: @leftbarWidth;
    margin-bottom: 20px;
  }
}

// View Container
// ------------------------------------
// the main viewport, filling the rest

.view {
  position: fixed;
  top: @topbarHeight;
  right: 0;
  bottom: 0;
  left: @leftbarWidth;
  overflow: hidden;

  > .toolbar {
    position: relative; // needed to z-index this to show the drop-shadow over other elements
    z-index: 5;
    height: @toolbarHeight;

    overflow: hidden;

    border-bottom: 1px @borderColor;
    .box-shadow(0 0 5px @grayLight);

    > div {
      height: @toolbarHeight;
    }

    > .title {
      padding-left: 20px;
      font-size: 36px;
      line-height: @toolbarHeight;
    }

    > .tools {
      padding-right: 20px;
      line-height: @toolbarHeight;
      text-align: right;
    }
  }

  .main-wrapper {
    height: 100%;

    // the menu area is docked to the left of the viewport
    > .menu {
      float: left;
      width: @viewMenuWidth;
      height: 100%;

      // provide a vertical scrollbar if necessary
      overflow-x: hidden;
      overflow-y: auto;
      
      padding: 20px;

      background-color: lighten(@grayLighter, 3%);
      border-right: 1px solid @borderColor;

      .nav-header {
        margin-bottom: 15px;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid @grayLighter;
      }

      .section {
        margin-bottom: 30px;
      }

      .badge {
        display: inline-block;
        float: right;
      }

      .nav-list li a {
        padding-right: 3px;
        padding-left: 3px;
      }

      .selector {
        margin-bottom: 15px;

        li a {
        .border-radius(@borderRadiusLarge);
        }
      }

      .selector li.active a {
        background-color: @grayLight;
      }
    }

    // the main content area fills the rest of the view container
    > .main {
      height: 100%;
      margin-left: @viewMenuWidth;
      overflow: auto;
    }
  }
}



