//
// Reset Styles
// Adapted from Twitter Bootstrap
// ------------------------------

@import "variables.less";
@import "bootstrap/less/mixins.less";
@import "bootstrap/less/reset.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/button-groups.less";
@import "bootstrap/less/breadcrumbs.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/dropdowns.less";
@import "bootstrap/less/labels-badges.less";
@import "font-awesome.less";


// Top bar
// ------------------------------------
// runs across the top of the screen

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: @topbarHeight;
  z-index: 10;

  #gradient > .vertical(lighten(@topbarColor, 10%), @topbarColor);
  border-bottom: 1px solid darken(@topbarColor, 20%);
  .box-shadow(0 3px 10px rgba(0, 0, 0, .25));

  .brand {
    display: block;
    float: left;
    margin-top: (@topbarHeight - @topbarLogoHeight) / 2;
    margin-right: 40px;
    margin-left: @topbarGutter;

    img {
      height: @topbarLogoHeight;
    }
  }

  .toolbar {
    line-height: @topbarHeight;
  }

  .user {
    display: block;
    float: right;
    margin-top: (@topbarHeight - 24px) / 2;
    margin-right: @topbarGutter;

    .caret {
      margin-left: 3px;
      color: @grayDark;
      vertical-align: middle;
    }

    &:hover {
      text-decoration: none;
    }
  }
}


// Left (nav) bar
// ------------------------------------
// runs down the left of the screen

.leftbar {
  position: fixed;
  top: @topbarHeight + 1;
  bottom: 0;
  left: 0;
  width: @leftbarWidth - 1; // -1 to allow for border
  overflow: hidden;

  background-color: lighten(@grayLighter, 3%);
  border-right: 1px solid @borderColor;

  .main-menu, .bottom-menu {
    overflow: hidden;
  }
    
  li {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  a {
    padding: 3px;
    .border-radius(@borderRadiusLarge);
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    color: @grayLight;
  }

  a:hover [class^="icon-"],
  a:hover [class*=" icon-"],
  .active [class^="icon-"],
  .active [class*=" icon-"] {
    color: @gray;
  }

  a:hover,
  a:hover {
    border: 1px solid rgba(0,0,0,.1);
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
    background-position: 0 -15px;
  }

  .active a,
  .active a {
    border: 1px solid rgba(0,0,0,.1);
    .box-shadow(inset 1px 1px 1px rgba(0,0,0,.2));
    color: @gray;
  }

  a:hover {
    text-decoration: none;
  }

  .main-menu {
    padding-top: 20px;

    li {
      margin-bottom: 20px;
    }
  }

  .bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: @leftbarWidth;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// View Container
// ------------------------------------
// the main viewport, filling the rest

.view {
  position: fixed;
  top: @topbarHeight;
  right: 0;
  bottom: 0;
  left: @leftbarWidth;
  overflow: hidden;

  // the main content area fills the rest of the view container
  > .main {
    position: fixed;
    top: @topbarHeight + 1;
    left: @leftbarWidth + 1;
    right: @viewMenuWidth + 1;
    bottom: 0;
    overflow: auto;

    .title {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 24px;
    }

    .body {
      margin: 20px;
    }
  }

  // the menu area is docked to the left of the viewport
  > .menu {
    position: fixed;
    width: @viewMenuWidth;
    top: @topbarHeight + 1;
    right: 0;
    bottom: 0;

    // provide a vertical scrollbar if necessary
    overflow-x: hidden;
    overflow-y: auto;
    
    background-color: lighten(@grayLighter, 3%);
    border-left: 1px solid @borderColor;

    .nav-header {
      margin-top: 20px;
      margin-bottom: 15px;
      padding-right: 0;
      padding-left: 0;
      border-bottom: 1px solid @grayLighter;

      &:first-child {
        margin-top: 0;
      }
    }

    .section {
      margin: 10px;
    }

    .badge {
      display: inline-block;
      float: right;
    }

    .nav-list li a {
      padding-right: 3px;
      padding-left: 3px;
    }

    .selector {
      margin-bottom: 15px;

      li a {
      .border-radius(@borderRadiusLarge);
      }
    }

    .selector li.active a {
      background-color: @grayLight;
    }
  }
}


// Toolbars
// ------------------------------------

.toolbar {
}


