//
// Citeplasm Styles
// --------------------------

// Reusable Variables
@import "components/variables.less";

// Imports from Twitter Bootstrap
@import "bootstrap/less/mixins.less";
@import "bootstrap/less/reset.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/navs.less";

// Citeplasm Imports


// Main Body Structure
// --------------------------

// absolutely position the menu to ensure it is full height
.toolbox {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: @sideMenuWidth;

  background-color: @grayDarker;
  .box-shadow(inset -3px 1px 10px @black);
  color: @white;

  .brand {
    display: block;
    width: @sideMenuWidth - 14px;
    margin: 5px 0 10px 7px;
  }

  ul {
    display: block;
    overflow: hidden;
    margin: 0;
    list-style: none;
 
    li {
      width: @sideMenuWidth;
      float: left;
      margin: 20px 0 0;

      a {
        display: inline-block;
      }
    }

    // Selector
    .selector {
      margin-top: 14px;
      display: none;
      float: right;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-right:   8px solid @bodyBackground;
      border-bottom: 8px solid transparent;
      border-top:  8px solid transparent;
      content: "";
    }

    li.active .selector {
      display: inline-block;
    }
  }
  
  // roughly center the buttons in the toolbox
  a {
    width: @sideMenuWidth - 68px;
    margin-left: 13px;
  }

  // position the settings button at the bottom of the toolbox
  .btn-settings {
    position: absolute;
    bottom: 13px;
    height: 24px + 8px;

    background-image: url(http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=30);
    background-repeat: no-repeat;
    background-position: 11px 13px;
  }
}

.main {
  // offset the width of the floated side menu
  padding-left: @sideMenuWidth + 20px;
}

