//
// Variables
// --------------------------------------------------

@import "bootstrap/less/variables.less";

// Scaffolding
// -------------------------

@bodyBackground:        @white;
@textColor:             @grayDark;


// Viewport Dimensions
// ------------------------------------

@topbarHeight:          40px;
@leftbarWidth:          40px;
@viewMenuWidth:         300px;
@topbarLogoHeight:      @topbarHeight - 20px;
@topbarGutter:          10px;


// Colors
// ------------------------------------

@borderColor:           darken(@grayLighter, 15%);
@topbarColor:           @grayLighter;

